Makefile
Makefile.*
release/
debug/
*.o
*.so.*
*.dll
*.lib
*.so
moc_*
*.moc
*.pro.user


.qmake.cache
.uic/
/include/
/lib/
/mkspecs/

# cmake related artifacts
/build*
build/
CMakeFiles
CTestTestfile.cmake
CMakeUserPresets.json
cmake_install.cmake
*_autogen
tst_*.xml
CMakeLists.txt.user*
.xdp_CMakeLists.txt.*
